.task {
  display: flex;
  flex-direction: row;
  width: 311px;
  justify-content: flex-start;
  align-items: center;
  padding: 8px;

  #{&}__label {
    padding: 0;
    margin: 0;
    margin-left: 16px;
    font-size: 16px;
    color: black;
    text-decoration: none;
    text-transform: capitalize;
  }
  #{&}__label__completed {
    padding: 0;
    margin: 0;
    margin-left: 16px;
    font-size: 16px;
    color: black;
    text-decoration: none;
    text-transform: capitalize;
    color: rgba(0, 0, 0, 0.17);
    text-decoration: line-through;
  }
  
  input {
    border: none;
    font-size: 16px;
    margin-left: 16px;
    font-family: "Quicksand", sans-serif;
    background-color: #F6F6F8;
  }

  input:focus {
    outline: none;
  }
}


@media (min-width: 641px) {
  .task {
    width: 646px;
    padding: 16px;

    input {
      font-size: 30px;
      margin-left: 32px;
    }

    #{&}__label {
      margin-left: 32px;
      font-size: 30px;
    }

    #{&}__label__completed {
      margin-left: 32px;
      font-size: 30px;
    }
  }
}
