.App {
  width: 750px;
  height: 1334px;
  border: 1px solid blue;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Quicksand', sans-serif;
}

.Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 646px;
  height: 64px;
  margin: 0;
  padding: 0;

  border: 1px solid blue;
}

.HeaderText {
  font-size: 50px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  border: 1px solid red;
}

.EditIcon {
  width: 64px;
  height: 64px;
  border: 1px solid yellow;
}