.App {
  width: 100vw;
  height: 100vh;
  // border: 1px solid blue;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-family: 'Quicksand', sans-serif;
}

.Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin: 0;
  padding: 8px;
  margin-top: 40px;
  margin-bottom: 16px;
  // border: 1px solid red;

}

.HeaderText {
  font-size: 26px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  // border: 1px solid red;
}

.EditIcon {
  width: 28px;
  height: 28px;
  // border: 1px solid yellow;
}

.TaskContainer {
  max-height: 65vh;
  overflow-y: scroll;
}

@media (min-width: 641px) {
  .EditIcon {
    height: 52px;
    width: 52px;
  }

  .HeaderText {
    font-size: 50px;
  }

  .Header {
    padding: 16px;
    margin-top: 88px;
    margin-bottom: 16px;
  }
}

@media (min-width: 961px) {

}