$text-color: #868686;


.NewTask {
  display: flex;
  flex-direction: row;
  width: 646px;
  // border: 1px solid green;

  p {
    color: $text-color;
  }

  input {
    border:none;
    font-size: 30px;
    font-family: 'Quicksand', sans-serif;
  }

  input:focus {
    outline: none;
  }



}

